#root {
  --COLOR-GRAY: #333333;
  --COLOR-GRAY-DARK: #222222;
  --COLOR-GRAY-LIGHT: #cccccc;
  --COLOR-ONGOING: #84caf3;
  --COLOR-DONE: #ee6c4d;
  font-family: Helvetica, sans-serif;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box; /*padding inside the element*/
}

.App{
  padding-top: 1rem;
}